body {
  margin: 0 !important;
  padding: 0;
  background-color: darkgray;
  overflow: hidden;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  background-color: darkgray;
}
